@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.texc{

    background-color: rgb(237, 249, 252);
}
.herocontp{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.header{

   background: linear-gradient(20deg,#fff, #fff,#f311461d,#e53f0336,#fff,#fff,#fff);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
}
.content-head picture img{

    width: 100px;
}
.header-view{

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textvidC{

    text-align: center;
    display: block;
    position: relative;
    padding: 10px;
    margin: 10px;
}
.sectvideo{

    display: flex;
    justify-content: center;
}
.textvidC::after{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 100px;
        padding: 10px 0px;
        background-color: #f37311;
        margin: -14px auto;
        transform: translateX(-50%);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
.header-view nav ul {

    display: flex;

}
.header-view nav ul li{

    list-style: none;
}
.header-view nav ul li a{

    list-style: none;
    display: inline-block;
    padding: 10px;
    list-style: none;
    color: rgb(48, 48, 48);
    font-weight: bold;
    text-decoration: none;
    position: relative;
} 
.header-view nav ul li a::after{

    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    transform: scale(0);
    background: linear-gradient(90deg,#f9083c,rgb(251, 116, 20),rgb(251, 116, 20));
    left: 0;
    bottom: 0;
    transition: all .3s ease-out;
}
.header-view nav ul li a:hover::after{

    
    transform: scale(1);
}
.hero{

    display: grid;
    grid-template-columns: 500px  auto ;
    max-width: 1200px;
    margin: 2rem auto;
    
}
.article{
    
    width: 32rem;
}
 .article article h2{

        color: transparent;
       
        width: 100%;
        background: linear-gradient(40deg, #f9083c, #f38d11d0, #f8960cd0);
        line-height: 1;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        font-size: 2.3rem;
        line-height: 1;
        letter-spacing: 0.01em;
        font-weight: bold;

}
 .article article p{

    font-size: 1.4rem;
    color: rgb(79, 79, 79);
 }
  .article article a{

    font-size: 1.4rem;

    border: 1px solid #000;
    padding: 15px;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    transition: .2s ease-out;

  }
  .article article a:hover{

    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .cubs{

    display: flex;
    justify-content:space-evenly;
    gap: 1px;
    margin-top:3rem ;

  }
  .cubst{

    
    display: flex;
    margin: 5rem;
    justify-content: space-between;
    
  

  }
  .cubs .cubs1, .cubs2, .cubs3{

    width: 200px;
    height: 100px;
    margin-top: 2rem;
    background: linear-gradient(90deg,#e342155f,#cecece14, rgba(255, 255, 255, 0.121));
    border-radius: 5px;
    transform: rotate(145deg);
    display: block;
  }
  .source-vid{

    display: flex;
    justify-content: center;
  }
  .content_main{
    max-width: 1200px;
    margin: 0 auto;
  }
  .videprin{
    width: 700px;
    height: 400px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.vid-s-grid{
    width: 100%;
    height: 350px;
    border-top: 10px;
        border-style: solid;
        border-color: #FF9F2F;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.vid-grid-content{

    display: grid;
    gap: 0.40rem;
    grid-template-columns: repeat(4,1fr);
    margin-top: 3rem;
    
}
.vid-grid-content section{
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        -webkit-border-radius: 10;
        -moz-border-radius: 10;
        -ms-border-radius: 10;
        -o-border-radius: 10;
        transition: .2s ease-out;
        box-shadow: 10px 15px 30px rgba(198, 198, 198, 0.5);
        border-radius: 10;
        -webkit-transition: .2s ease-out;
        -moz-transition: .2s ease-out;
        -ms-transition: .2s ease-out;
        -o-transition: .2s ease-out;
      
}

section:hover{
    transform: scale(1.1);
    box-shadow: 10px 15px 30px rgba(255, 196, 154, 0.412);
    border-radius: 10px;

    overflow: hidden;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}